BasedOnStyle: LLVM
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
BreakBeforeBraces: Linux
IndentCaseLabels: false
IndentWidth: 8
